{% extends "layouts/website_base.html" %}
{% load static %}
{% block stylesheets %}
<style>
  #header.header-transparent {
    background: rgba(49, 51, 70, 0.9);
    padding: 12px 0;
  }

  .btn-custom {
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: rgba(239, 102, 3);
  }

  .btn-custom:hover {
    background: var(--color-rgba(239, 102, 3));
  }
</style>
{% endblock stylesheets %}

{% block main %}
<main id="main">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
          <h5 class="card-title text-center pb-0 fs-4 mb-3">비밀번호가 변경되었습니다.</h5>
          <h5 class="card-title text-center pb-0 fs-4 mb-3">새로운 비밀번호로 로그인 해주세요.</h5>
          <div class="col-12 mt-4 form-group" id="btn-submit-container">
            <a class="btn-custom w-100 text-center" type="button" id="btn-submit"
              href="{% url "website:login" %}">login</a>
            </div>
            <div class="col-md-12 mt-4 form-group">
              <p class="small mb-0 text-end">
                <a class="ms-1 text-dark" href="{% url "website:find_email" %}">ID 찾기 &gt;</a>
              </p>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}