{% extends "layouts/website_base.html" %}
{% load static %}
{% block stylesheets %}
<style>
  #header.header-transparent {
    background: rgba(49, 51, 70, 0.9);
    padding: 12px 0;
  }

  .btn-custom {
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: rgba(239, 102, 3);
  }

  .btn-custom:hover {
    background: var(--color-rgba(239, 102, 3));
  }
</style>
{% endblock stylesheets %}

{% block main %}
<main id="main">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
          {% if validlink %}
          <div class="card mb-3">
            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
                <p class="text-center small">Enter your new password</p>
              </div>

              <form method="post" class="" id="passwordForm" onsubmit="return false;">
                <div class="row gy-3">
                  {% csrf_token %}
                  <div class="col-md-12 form-group">
                    {{form.as_p}}
                  </div>
                  <div class="col-12 mt-4 form-group" id="btn-submit-container">
                    <a class="btn-custom w-100 text-center" type="button" id="btn-submit">Finish</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% else %}
          <h5 class="card-title text-center pb-0 fs-4 mb-3">This link is invalid</h5>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="{% static 'website/js/auth/script_password_reset_confirm.js' %}"></script>
{% endblock javascripts %}